li{
    list-style: none;
    margin-bottom: 0px;
}
div{
    background-color: black;
    color:white;
    height: 45px;
    width: 1200px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
p{
    font-style: italic;
    margin-top: 0px;
}
