.aloe{
    width: 300px;
    height: 300px;
}
.ficus{
    width: 300px;
    height: 300px;
}
.ficus_king{
    width: 300px;
    height: 300px;
}
.hide{
    display: none;
}
.show{
    display: inherit;
}