li{
    list-style: none;
    margin-bottom: 0px;
}
.div1{
    background-color: black;
    color:white;
    height: 45px;
    width: 1200px;
}
ul {
    height: auto;
    list-style: none;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p{
    font-style: italic;
    margin-top: 0px;
}
i {
    font-size: 35px; 
   }